<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h1>{{ pageTitle | uppercase }}</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input
                  matInput
                  formControlName="firstName"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    form.get('firstName')?.hasError('minlength') &&
                    !form.get('firstName')?.hasError('required')
                  "
                  >Min length is 2 symbols.
                </mat-error>
                <mat-error *ngIf="form.get('firstName')?.hasError('required')">
                  Field is required
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="lastName"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    form.get('lastName')?.hasError('minlength') &&
                    !form.get('lastName')?.hasError('required')
                  "
                  >Min length is 2 symbols
                </mat-error>
                <mat-error *ngIf="form.get('lastName')?.hasError('required')">
                  Field is required
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    form.get('email')?.hasError('email') &&
                    !form.get('email')?.hasError('required')
                  "
                >
                  Please enter a valid email address.
                </mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('required')">
                  Field is required
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Phone</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    form.get('phone')?.hasError('pattern') &&
                    !form.get('phone')?.hasError('required')
                  "
                >
                  Correct phone format is +123456789
                </mat-error>
                <mat-error *ngIf="form.get('phone')?.hasError('required')">
                  Field is required
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div class="input-file-container">
          <label for="fileInp" class="input-label">
            <input
              type="file"
              class="input-file"
              id="fileInp"
              accept=".jpg, .jpeg, .png, .gif"
              (input)="onInputFile($event)"
              formControlName="image"
            />
          </label>
          <mat-icon class="attach-icon">attachment</mat-icon>
          <span
            [ngClass]="
              form.get('image')?.hasError('required') &&
              !isFile &&
              form.get('image')?.touched
                ? 'danger'
                : ''
            "
          >
            {{ inputFileText }}
          </span>
        </div>
        <div class="fileError">
          <div
            *ngIf="
              form.get('image')?.invalid &&
              form.get('image')?.touched &&
              !isFile
            "
            class="danger"
          >
            <small>Field id required</small>
          </div>
        </div>
        <div class="btn-container">
          <button type="reset" mat-raised-button class="btn reset">
            Reset form
          </button>
          <button
            mat-raised-button
            class="btn submit"
            [disabled]="form.invalid"
          >
            Add customer
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <button mat-mini-fab class="btn-close" (click)="closeForm()">
      <mat-icon class="close-icon" fontIcon="clear"></mat-icon>
    </button>
  </form>
</div>
