.table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  .image {
    width: 80px;
  }

  th {
    font-weight: 700;
    font-size: 18px;
  }

  .th-position {
    width: 50px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-row {
  background-color: "#cccc";
  height: 80px;

  .btn-add {
    margin-right: 10px;
  }

  .search-form {
    font-size: 14px;
    margin-right: 20px;
  }

  .search-input {
    padding-left: 5px;
  }

  .find-form {
    width: 100px;
    font-size: 14px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}
